<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>COMP 3133</string>
		<key>description</key>
		<string>Full Stack Dev II</string>
		<key>syllabus</key>
		<string></string>
		<key>grade</key>
		<integer>0</integer>
		<key>progress</key>
		<integer>0</integer>
		<key>tasks</key>
		<array>
			<dict>
				<key>title</key>
				<string>Lab Test 1</string>
				<key>description</key>
				<string></string>
				<key>date</key>
				<date>2020-04-07T18:00:00Z</date>
				<key>type</key>
				<string>Lab Test</string>
				<key>weight</key>
				<integer>15</integer>
				<key>grade</key>
				<integer>-1</integer>
				<key>complete</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>Midterm</string>
				<key>description</key>
				<string></string>
				<key>date</key>
				<date>2020-03-23T12:30:00Z</date>
				<key>type</key>
				<string>Exam</string>
				<key>weight</key>
				<integer>30</integer>
				<key>grade</key>
				<integer>-1</integer>
				<key>complete</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>COMP 3134</string>
		<key>description</key>
		<string>Cyber Security</string>
		<key>syllabus</key>
		<string></string>
		<key>grade</key>
		<integer>0</integer>
		<key>progress</key>
		<integer>0</integer>
		<key>tasks</key>
		<array/>
	</dict>
</array>
</plist>
